.ipynb_checkpoints/
*.pdf
Data/
*.yaml
deepspeech.pytorch/
train_logs/
checkpoints/
checkpoints (copy)/
.idea/
checkpoints_450/
train_logs_450_a/
train_logs_450_b/
train_logs_900/
fed_averaging_ckpt/
fed_avg_logs/